@white_color: #f9f9f9;
@color: #333;
@padding: 24px;

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	font-family: Arial, sans-serif;
	color: @color;
	font-size: 16px;
	background: @white_color;
	height: 100%;
	min-height: 100%;
}

.app, main-context{height: 100%}
header{
	background: @color;
	padding: @padding;
	text-align: center;
	max-height: 80px;
	h1{
		margin: 0;
		color: @white_color;
		font-size: 30px
	}
}

main{
	padding: @padding;
	height: calc(~'100% - 80px');
	h2{
		margin: 0 0 @padding;
		display: block;
		text-align: center;
		font-weight: normal;
		font-size: 18px;
		padding: @padding;
	}
	h3{
		margin: 0 0 @padding/2;
	}
	.info-block{
		margin: 0 0 @padding;
		width: 100%;
		ul{
			margin: 0;
			padding: 0;
			li{
				display: block;
				padding: 0;
				list-style: none;
				span{font-weight: bold;}
				& + li {
					margin-top: @padding/2;
				}

			}
		}
	}
	.sensors{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: space-between;
		.item{
			width: 48%;
			margin: 0 0 @padding;
			.inside{
				background: white;
				min-height: 170px;
				border-radius: 2px;
				padding: @padding;
				box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
				&.empty{
					display: flex;
					align-items: center;
					justify-content: center;
					.loader{
						border-color: lighten(@color, 50%);
						width: 30px;
						height: 30px;
					}
				}
			}
			ul{
				margin: 0;
				padding: 0;
				li{
					list-style: none;
					display: flex;
					width: 100%;
					align-items: center;
					span{
						display: block;
						width: 20px;
						height: 20px;
						border-radius: 50%;
						margin-left: 10px;
						&.active{background: #54c089;}
						&.disabled{background: #da5e51;}
						&.red{color: #da5e51;}
						&.green{color: #54c089;}
					}
				}

			}
			&.item-fire{
				// width: 100%;
			}
		}
	}
}

.error{
	color: lighten(@color, 30%);
	&.no-sensors{
		margin-top: 170px;
	}
}

.loading{
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.loader{
	display: block;
	height: 40px;
	width: 40px;
	background: transparent;
	border: 4px solid @color;
	animation: spin 2s linear infinite;
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
